
.article-body {
    background-color: #F8F8F8; 
  .articles-card  {
   width: 1237px;
   height: 689px;
   padding-left: 150px;
  }
  .article-buttons {
     width: 88%;
     margin: 50px auto;
     button{
         margin-right: 30px;
         font-family: 'Antic', sans-serif;
         padding: 11px;
         width: 175px;
         color: #57B182;
         border-radius: 50px;
         width: 177px;
         height: 50px;
         background-color: #ffffff;
       }
  }
  .article-fixed-buttons {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     z-index: 1000;
     button{
         font-family: 'Antic', sans-serif;
         padding: 11px;
         width: 175px;
         color: #57B182;
         border-radius: 50px;
         width: 177px;
         height: 50px;
         background-color: #ffffff;
         float: right;
         margin: 10px;
         
       }
  }
  form {
     padding-left: 50px; 
  }
  #title {
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     width: 100%;
     height: 50px;
     display: block;
     margin-bottom: 10px;
     z-index: 1;
     position: relative;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border-radius: 5px;
     border: none;
     outline: none;
     background: #F8F8F8;
     &:focus{
         outline-style: none;
         background-color: #F8F8F8;
     }
  }
  .editable {
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     width: 100%;
     height: 55vh;
     display: block;
     margin-bottom: 10px;
     z-index: 1;
     position: relative;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     border-radius: 5px;
     resize: none;
     border: none;
     outline: none;
     background: #F8F8F8; 
  }
  #masterfab {
     position: fixed;
     left: 100px;
     color: #a6a2a2;
     font-size: 36px;
     font-weight: 500;
  }
  .box {
     width: 150px;
     height: 36px;
     border-radius: 6px;
     background-color: #a6a2a2;
  }

   input
  {
     display: none;
  }
  .inline-image {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 830px;
     height: 508px;
  }
  .camera-icon {
    width: 24px;
    height: 24px;
    color: black;
    font-size: 36px;
  }
  
  
  }


// theme settings
$medium-editor-bgcolor: #fff;
$medium-editor-border-color: #a8a8a8;
$medium-editor-button-size: 50px;
$medium-editor-button-hover-text-color: #fff;
$medium-editor-button-active-text-color: #000;
$medium-editor-link-color: #889aac;
$medium-editor-border-radius: 5px;

// theme rules
.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
    display: none;
}

.medium-editor-toolbar {
    background-color: #F8F8F8; 
    border-radius: $medium-editor-border-radius;
    box-shadow: 0 2px 6px rgba(#000, .45);
    border: none;
    //visibility: visible;
    //top: 170px;
    //left: 180px;
    li {
        button {
            min-width: $medium-editor-button-size;
            height: $medium-editor-button-size;
            border: none;
            border-right: 1px solid $medium-editor-border-color;
            background-color: transparent;
            color: #a6a2a2;
            box-shadow: inset 0 0 3px #f8f8e6;
            background: #F8F8F9; 
            text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
            transition: background-color .2s ease-in;
            &:hover {
                background-color: #fff;
                color: $medium-editor-button-hover-text-color;
                color: rgba(#000, .8);
            }
        }

        .medium-editor-button-first {
            border-top-left-radius: $medium-editor-border-radius;
            border-bottom-left-radius: $medium-editor-border-radius;
        }

        .medium-editor-button-last {
            border-top-right-radius: $medium-editor-border-radius;
            border-bottom-right-radius: $medium-editor-border-radius;
        }

        .medium-editor-button-active {
            background-color: #ccc;
            color: $medium-editor-button-active-text-color;
            color: rgba(#000, .8);
            background: linear-gradient(to top, $medium-editor-bgcolor, rgba(#000, .1));
        }
    }
}

.medium-editor-toolbar-form {
    background: $medium-editor-bgcolor;
    color: #999;
    border-radius: $medium-editor-border-radius;

    .medium-editor-toolbar-input {
        margin: 0;
        height: $medium-editor-button-size;
        background: $medium-editor-bgcolor;
        color: $medium-editor-border-color;
    }

    a {
        color: $medium-editor-link-color;
    }
}

.medium-editor-toolbar-anchor-preview {
    background: $medium-editor-bgcolor;
    color: $medium-editor-link-color;
    border-radius: $medium-editor-border-radius;
}

.medium-editor-placeholder:after {
    color: $medium-editor-border-color;
}
