.article-body {
    background-color: #F8F8F8; 
  .articles-card  {
   width: 1237px;
   height: 689px;
   padding-left: 150px;
  }
  .article-buttons {
     width: 88%;
     margin: 50px auto;
     button{
         margin-right: 30px;
         font-family: 'Antic', sans-serif;
         padding: 11px;
         width: 175px;
         color: #57B182;
         border-radius: 50px;
         width: 177px;
         height: 50px;
         background-color: #ffffff;
       }
  }
  .article-fixed-buttons {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     z-index: 1000;
     button{
         font-family: 'Antic', sans-serif;
         padding: 11px;
         width: 175px;
         color: #57B182;
         border-radius: 50px;
         width: 177px;
         height: 50px;
         background-color: #ffffff;
         float: right;
         margin: 10px;
         
       }
  }
  form {
     padding-left: 50px; 
  }
  #title {
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     width: 100%;
     height: 50px;
     display: block;
     margin-bottom: 10px;
     z-index: 1;
     position: relative;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border-radius: 5px;
     border: none;
     outline: none;
     background: #F8F8F8;
     &:focus{
         outline-style: none;
         background-color: #F8F8F8;
     }
  }
  .editable {
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     width: 100%;
     height: 55vh;
     display: block;
     margin-bottom: 10px;
     z-index: 1;
     position: relative;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     border-radius: 5px;
     resize: none;
     border: none;
     outline: none;
     background: #F8F8F8; 
  }
  #masterfab {
     position: fixed;
     left: 100px;
     color: #a6a2a2;
     font-size: 36px;
     font-weight: 500;
  }
  .box {
     width: 150px;
     height: 36px;
     border-radius: 6px;
     background-color: #a6a2a2;
  }
  #camera-icon {
     width: 17px;
     height: 24px;
     font-size: 24px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #e5e5e5;
     margin: 7px;
  }
  #new-section {
     width: 24px;
     height: 24px;
     margin: 7px;
  }
  #bullet-list {
     width: 24px;
   height: 26px;
   font-family: FontAwesome5FreeSolid;
   font-size: 24px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #e5e5e5;
   margin: 7px;
  }
  #bold {
     width: 20px;
     height: 30px;
     font-family: Roboto;
     font-size: 24px;
     font-weight: 900;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #e5e5e5;
     margin: 7px;
     text-align: center;
   }
   input
  {
     display: none;
  }
  .inline-image {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 830px;
     height: 508px;
  }
  
  }