.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  #profile-image-uploader {
    margin-top: 4rem;
  }
  #user-name {
    margin: 2.5rem auto;
  }
  #bio-box {
    margin: 2.5rem auto;
    resize: none;
  }
  #save-button {
    margin-right: 27px;
  }
}
