$maingreen: #57B182;
$faintblue: #F4F9FC;

.hero-section{
  // background-color: grey;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/drmmqcxkc/image/upload/v1541426081/Authors%20Haven/heroImage2.jpg);
  height: 700px;
  color: #E5E5E5;
  .hero-section-overlay{
    background-color: rgba(0, 0, 0, 0.41);
    height: 700px;
    h2{
      width: 88%;
      font-size: 45px;
      margin: 100px auto;
      margin-bottom: 20px;
    }
    .hero-section-description{
      width: 88%;
      margin: 50px auto;
      margin-bottom: 20px;
      line-height: 0.7;
    }
    .hero-section-buttons{
      width: 88%;
      margin: 50px auto;
      button{
        margin-right: 30px;
        font-family: 'Antic', sans-serif;
        padding: 11px;
        width: 175px;
      }
    }
    .hero-section-greenbutton{
      color: white;
      background-color: $maingreen;
    }
    .hero-section-whitebutton{
      color: $maingreen;
      background-color: white;
    }

  }
}

.hero-body-vector{
  clip-path: polygon(0 31%, 100% 1%, 100% 100%, 0% 100%);
  margin-top: -130px;
  height: 400px;
  background-color: white;
}

.hero-body{
  height: 700px;
  // transform: rotate(-17.87deg);
  .hero-body-details{
    margin-top: 300px;
  }
}