.feed{
    padding-top: 18px;
    padding-bottom: 18px;
    width: 20%;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 6%;
    margin-top: 50px;
    font-family: Antic;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    color: #63ce96;
    cursor: pointer;
}

.feed img{
    width: 35px;
    height: auto;
    margin-left: 8%;
    margin-top: -2px;
}

.card-hr{
    width: 96%;
    margin-left: 2%;
    margin-top: 50px;
}

.second-card{
    display: flex;
    margin-top: 60px;
}

.all-articles-card{
    width: 62%;
    height: 50px;
}

.all-articles-card .buttons button{
    border-radius: 50px;
    outline: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border:0;
    float: right;
    background-color: #63ce96;
    font-family: Antic;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #fff;
    margin-right: 3%;
    cursor: pointer;
}

.all-articles-card .buttons{
    margin-bottom: 80px;
}

.all-articles-card .buttons button:hover{
    background-color: #fff;
    color: #63ce96;
   
}

.all-articles-card .articles-card{
    display: flex;
    width: 86%;
    margin-left: 14%;
    height: 239px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}

.all-articles-card .articles-card .article-area{
    width: 67%;
    padding-top: 14px;
    padding-bottom: 14px;
}


.all-articles-card .articles-card .article-area .article-title{
    height: 54px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.all-articles-card .articles-card .article-area .article-body{
    height: 72px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5%;
    margin-right: 5%;
}

.all-articles-card .articles-card .article-area hr{
    width: 95%;
    margin-left: 5%;
}

.all-articles-card .articles-card .article-area .reactions{
    margin-left: 5%;
    margin-right: 5%;
}

.all-articles-card .articles-card .article-area .reactions .left-reactions{
    display: flex;
    float: left;
    margin-left: -25px;
}

.all-articles-card .articles-card .article-area .reactions .right-reactions{
    display: flex;
    float: right;
    margin-right: 0;
}

.all-articles-card .articles-card .article-area .reactions div .reaction{
    display: flex;
    margin-left: 25px;
}

.all-articles-card .articles-card .article-area .reactions div .reaction img{
    width: 30px;
    height: 25px;
}

.all-articles-card .articles-card .article-area .reactions div .reaction p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    color: #a6a2a2;
    margin-left: 7px;
}

.all-articles-card .articles-card .image-area{
    width: 33%;
}

 .image-area .article-image{
    margin-left: 10%;
    width: 90%;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.image-area .image-shadow{
    border-radius: 50px;
    width: 65px;
    height: 65px;
    position: absolute;
    margin-top: 150px;
    background-color: #fff;
}

.image-area .image-shadow .author{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 7px;
    margin-left:7px
}

.recent-stories{
    width: 38%;
    height: 50px;
}

.recent-stories .recent-stories-box{
    margin-top: 80px;
    margin-left: 7%;
    width: 75%;
    background-color: #fff;
    padding-top: 29px;
    padding-bottom: 25px;
    padding-left: 5%;
    border-radius: 8px; 
    margin-bottom: 50px;
}

.recent-stories .recent-stories-box .title{
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #5f5e61;
    margin-bottom: 45px;
}

.recent-stories .recent-stories-box .recent-story{
    width: 90%;
    height: 140px;
    margin-left:5%;
    display: flex;
    padding:0;
    margin-bottom: 25px;
    cursor: pointer;
}

.recent-stories .recent-stories-box .recent-story .author-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -5%;
}

.recent-stories .recent-stories-box .recent-story .author-detail .number{
    font-family: Roboto;
    font-size: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    color: #868686;
}

.recent-stories .recent-stories-box .recent-story .author-detail .minutes{
    font-family: Roboto;
    font-size: 15px;
    color: #868686;
    margin-top: -20px;
}

.recent-stories .recent-stories-box .recent-story .author-detail img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

.recent-stories .recent-stories-box .recent-story .recent-article .article-title{
    width: 120%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-top: -110px;
    margin-left: -10%;
    color: rgba(0, 0, 0, 0.7);
}

.recent-stories .recent-stories-box .recent-story .recent-article{
    margin-top: 100px;
}

.recent-stories .recent-stories-box .recent-story .recent-article .article-body{
    width: 255px;
    height: 64px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-left: -10%;
    color: rgba(0, 0, 0, 0.54);
}