.hero-card{
  background-color: white;
  border-radius: 5px;
  width: 27vw;
  text-align: center;
  box-shadow: 5px 14px 35px 0 rgba(0, 0, 0, 0.19);
    @media only screen and (max-width: 600px) {
      width: 90vw;
    }
  .hero-card-details{
    margin-top: 30px;
    h6{
      color: #626D86;
      margin: 1px;
    }
    p{
      margin-top: 20px;
      font-family: 'Antic', sans-serif;
      font-size: 13px;
      color: #626D86;
    }
    .hero-card-author{
      margin: 30px auto;
      img{
        margin-top: 15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      p{
        text-align: right;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
      }
  }
  }
  .hero-card-image{
    background-size: auto;
    width: 100%;
    padding: 0;
    background-image: url('../../assets/cardImage2.png');
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    text-align: center;
    img{
      height: 70px;
      margin-top: 70px;
    }
    p{
      font-size: 40px;
      font-weight: 100;
      line-height: 1.5;
      color: rgba(229, 229, 229, 0.89);
    }
  }
}