.card-wrapper{
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 900px) {
    margin-top: -100px;
  }
}

.hero-card{
  display: flex;
  background-color: white;
  border-radius: 5px;
  flex-basis: 27vw;
  height: 300px;
  padding: 0px;
  margin: 20px 20px;
  text-align: center;
  box-shadow: 5px 14px 35px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all .55s ease;
  &:hover{
    transform: translateY(-9px);
    box-shadow: 5px 14px 35px 0 rgba(0, 0, 0, 0.08);
  }
    @media only screen and (max-width: 900px) {
      width: 90vw;
      flex-basis: 100vw;
    }
  .hero-card-details{
    margin-top: 30px;
    h6{
      color: #626D86;
      margin: 1px;
      height: 60px;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.5;
      @media only screen and (max-width: 900px) {
      height: 40px;
    }
    }
    p{
      margin-top: 20px;
      font-family: 'Antic', sans-serif;
      font-size: 13px;
      color: #626D86;
    }
    .hero-card-author{
      position: absolute;
      bottom: 0;
      display: flex;
      img{
        margin-top: 15px;
        height: 30px;
        border-radius: 50%;
      }
      p{
        text-align: left;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
      }
  }
  }
  .hero-card-image{
    background-size: auto;
    width: 100%;
    padding: 0;
    background-image: url('https://res.cloudinary.com/drmmqcxkc/image/upload/v1541426070/Authors%20Haven/cardImage2.png');
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    text-align: center;
    img{
      height: 70px;
      margin-top: 70px;
    }
    p{
      font-size: 40px;
      font-weight: 100;
      line-height: 1.5;
      color: rgba(229, 229, 229, 0.89);
    }
  }
}

.hero-moreArticles{
  cursor: pointer;
  margin: 20px auto;
  justify-content: center;
  p {
    font-family: Antic;
    font-size: 18px;
    color: #63ce96;
    text-align: center;
  }
  img{
    height: 20px;
    margin: 3px 5px;
  }
  }