.auth-flex{
    display: flex;
    align-items: center;
}

.large-spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


@media screen and (max-width:800px){
    .auth-flex{
        display: flex;
        flex-direction: column;
    }
}