.follow-card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 33px 0;
  display: grid;
  grid-template-areas: "image ."
                       "type about";
  grid-template-columns: 10rem 1fr;
  grid-gap: .5rem .7rem;
  font-size: 14px;
  padding: 25px;
  cursor: pointer;
  .profile-image {
    grid-area: image;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .type {
    grid-area: type;
    p {
      font-size: 12px;
    }
  }
  .about {
    grid-area: about;
  }
}