footer{
  height: 10vh;
  font-weight: 100vw;
  background-color: $faintblue;
  border-top: 1px solid #e5e5e5;
  .footer-wrapper{
    width: 40vw;
    display: flex;
    margin: auto;
    p{
      margin-top: 25px;
      color: #626D86;
      font-size: 14px;
    }
  }
}