footer{
  height: 13vh;
  background-color: $faintblue;
  border-top: 1px solid #e5e5e5;
  .footer-wrapper{
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;@media only screen and (max-width: 600px) {
      width: 100vw;
    }
    p{
      margin-top: 25px;
      color: #626D86;
      font-size: 14px;
    }
  }
  .copyright{
    margin: 5px auto;
    display: flex;
    justify-content: center;
    p{
      font-size: 13px;
      color: $maingreen;
    }
  }
}
