header{
  font-family: 'Antic', sans-serif;
  width: 90%;
  margin: 0 auto;
  nav{
    text-decoration-color: none;
    img{
      color: white;
    }
    h3{
      font-family: 'Annie Use Your Telescope', cursive;
      color: white
    }
  }
}
