header {
  font-family: 'Antic', sans-serif;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid var(--lighter-gray);
  .navbar {
    text-decoration-color: none;
    display: flex;
    align-items: center;
    &.-responsive{
      display: block;
    }
    h3 {
      font-family: 'Annie Use Your Telescope', cursive;
      color: white;
      margin-bottom: 0;
    }
    p {
      color: white;
      margin-bottom: 0;
      @media only screen and (max-width: 900px) {
        width: 18vw;
      }
    }
    .navbar-toggler{
      display: none;
      @media only screen and (max-width: 900px) {
        display: block;
      }
    }
    .navbar-wrapper-responsive{
      @media only screen and (max-width: 900px) {
        display: block;
        width: 0;
        color: white
      }
      .navbar-element{
        a{
          color: white;
          transition: all .55s ease;
          width: 27vw;
          &:hover{
            transform: translateY(-4px);
            box-shadow: 5px 14px 35px 0 rgba(0, 0, 0, 0.08);
          }
        }
        @media only screen and (max-width: 900px) {
          display: block;
        }
      }
    }
    .navbar-wrapper{
      width: 55vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 900px) {
        display: none;
        width: 0;
      }
      .navbar-element{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
        a{
          color: white;
          transition: all .55s ease;
          &:hover{
            transform: translateY(-4px);
            box-shadow: 5px 14px 35px 0 rgba(0, 0, 0, 0.08);
          }
        }
        @media only screen and (max-width: 900px) {
          display: block;
        }
      }
    }
    .nav-center {
      .nav-item {
        margin-right: 40px;
      }
    }
    @media only screen and (max-width: 900px) {
      .link-border {
        display: none;
      }
    }
  }
}

.navbar-responsive{
  display: block;
  text-decoration-color: none;
}

.header-user {
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: 900px) {
    display: flex;
    justify-content: space-between;
    width: 32vw;
  }
  .notification-count{
    position: relative;
    height: 17px;
    width: 17px;
    border-radius: 5px;
    background-color: #dd4b39;
    left: -17px;
    top: -9px;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    padding-bottom: 0px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    select, input{
      border: 1px solid #626d86;
      margin: 10px auto;
      width: 100%;
      height: 35px;
      background-color: white;
      color: #626d86;
    }
    &:focus{
      outline: none;
      border: none;
    }
    input{
      border-radius: 4px;
      border: 1px solid #626d86;
      color: #626d86;
      padding: 10px;
    }
    button{
      margin: 10px auto;
      width: 100%;
    }
  }
  .header-user-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6vw;
    @media only screen and (max-width: 900px) {
      width: 20vw;
    }
    .dropdown{
      .notification-image{
        height: 30px;
        width: 30px;
        cursor: pointer;
      }
      .author-image {
        height: auto;
        width: 34px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid white;
      }
      .dropdown-menu{
        padding: 6px 0 6px 5px;
        a{
          display: block;
          color: var(--gray);
          font-weight: 100;
          padding: 6px;
          &:hover{
            text-decoration: none;
          }
        }
        a:nth-child(4), a:nth-child(6){
          border-bottom: 1px solid #c4c4c4;
        }
        &.show{
          background-color: #f8f8f8;
          width: 177px;
          height: 310px;
          border: solid 1px #c4c4c4;
          border-radius: 0;
        }
      }
    }
  }
}

.header-user-search {
  display: flex;
  z-index: 99;
  .search-divider{
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .search-divider-responsive{
    display: none;
  }
  .search-click{
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .search-click-responsive{
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 300;
  }
  .search-parameters{
    display: none;
    position: absolute;
    z-index: -44;
    top: 55px;
    background-color: white;
    color: #626d86;
    width: 414px;
    border: none;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    @media only screen and (max-width: 900px) {
      top: 82px;
      left: 9px;
      width: 95%;
      margin: 0 auto;
    }
  }
  .search-parameters-display {
    display: block;
  }
  .searchbar{
    color: white;
    padding: 10px;
    padding-left: 22px;
    width: 414px;
    height: 40px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px rgb(255, 255, 255);
    background-color: transparent;
    &::placeholder{
      color: white;
    }
    &:focus{
      outline: none;
    }
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .searchbar-pages{
    border-bottom: solid 1px #626d86;
    &::placeholder{
      color: #626d86;
    }
  }
  .searchbar-responsive{
    width: 86vw;
    height: 40px;
    top: 44px;
    right: 9px;
    z-index: 99;
    display: block;
    position: absolute;
    border-radius: 36px;
    border: solid 0.5px rgba(166, 162, 162, 0.3);
    background-color: #ffffff;
  }
  .search-dropdown{
    left: -70px;
  }
  span:nth-child(3){
    position: relative;
    left: -69px;
    top: 10px;
    font-size: 23px;
    padding: 0 6px;
    height: 40px;
  }
  img{
    position: relative;
    left: -60px;
    top: 15px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    cursor: pointer;
    @media only screen and (max-width: 900px) {
      position: static;
      width: 31px;
      height: 31px;
    }
  }
  @media only screen and (max-width: 900px) {
    margin-right: 0;
  }
}

.show {
  display:block;
  top: 50px;
  left: -80px;
}

.responsive-header{
  display: inline;
}

.header-white{
  color: white !important;
}

.header-dark{
  color: black !important;
}

.menu-icon{
  width: 24px;
  height: 24px;
  background-image: url(https://res.cloudinary.com/drmmqcxkc/image/upload/v1541426069/Authors%20Haven/icons8-menu.svg)
}

.header-user-search-unauth {
  display: flex;
  z-index: 99;
  .search-divider{
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .search-divider-responsive{
    display: none;
  }
  .search-click{
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .search-click-responsive{
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 300;
  }
  .search-parameters{
    display: none;
    position: absolute;
    z-index: 44;
    top: 43px;
    background-color: white;
    color: #626d86;
    width: 414px;
    border: none;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    @media only screen and (max-width: 900px) {
      top: 82px;
      left: 9px;
      width: 95%;
      margin: 0 auto;
    }
  }
  .search-parameters-display {
    display: flex !important;
    flex-direction: column;
    width: 384px;
    top: 50px;
    justify-content: space-between;
    height: 240px;
    select, input{
      border: 1px solid #626d86;
      margin: 10px auto;
      width: 100%;
      height: 35px;
      background-color: white;
      color: #626d86;
    }
    &:focus{
      outline: none;
      border: none;
    }
    input{
      border-radius: 4px;
      border: 1px solid #626d86;
      color: #626d86;
      padding: 10px;
    }
    button{
      margin: 10px auto;
      width: 100%;
    }
  }
  .searchbar{
    color: white;
    padding: 10px;
    padding-left: 22px;
    width: 414px;
    height: 40px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px rgb(255, 255, 255);
    background-color: transparent;
    &::placeholder{
      color: white;
    }
    &:focus{
      outline: none;
    }
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .searchbar-pages{
    border-bottom: solid 1px #626d86;
    &::placeholder{
      color: #626d86;
    }
  }
  .searchbar-responsive{
    width: 86vw;
    height: 40px;
    top: 44px;
    right: 9px;
    z-index: 99;
    display: block;
    position: absolute;
    border-radius: 36px;
    border: solid 0.5px rgba(166, 162, 162, 0.3);
    background-color: #ffffff;
  }
  .search-dropdown{
    left: -70px;
  }
  span:nth-child(3){
    position: relative;
    left: -69px;
    top: 10px;
    font-size: 23px;
    padding: 0 6px;
    height: 40px;
  }
  img{
    position: relative;
    left: -60px;
    top: 15px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    cursor: pointer;
    @media only screen and (max-width: 900px) {
      position: static;
      width: 31px;
      height: 31px;
    }
  }
  @media only screen and (max-width: 900px) {
    margin-right: 0;
  }
}

.hero-section-greenbutton{
  color: white;
  background-color: $maingreen;
  cursor: pointer;
}
.hero-section-whitebutton{
  color: $maingreen;
  background-color: white;
  cursor: pointer;
}

.navbar-unauthorized{
  width: 600px;
  @media only screen and (max-width: 900px) {
    width: 100px;
  }
  .navbar-main-wrapper{
    display: flex;
    span:nth-child(3){
      position: relative;
      left: -69px;
      top: 10px;
      font-size: 23px;
      padding: 0 6px;
      height: 40px;
    }
    img{
      position: relative;
      top: 8px;
      width: 16px;
      height: 16px;
      font-size: 16px;
      cursor: pointer;
      @media only screen and (max-width: 900px) {
        position: static;
        width: 31px;
        height: 31px;
      }
    }
    @media only screen and (max-width: 900px) {
      margin-right: 0;
    }
  }
  .search-parameters-display {
    display: block;
  }
}

.searchbar-toggle{
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.searchbar-toggle-mobile{
  @media only screen and (min-width: 900px) {
    display: none;
  }
}

.landing-page-header{
  border-bottom: none;
}