// Colours
$maingreen: #57B182;
$faintblue: #F4F9FC;
:root {
  --light-gray: #a6a2a2;
  --lighter-gray: rgba(36, 32, 56, 0.17);
}

:root {
  --light-gray: #a6a2a2;
  --lighter-gray: rgba(36, 32, 56, 0.17);
}
body {
font-family: 'Roboto', sans-serif;
}
.fab {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: gray;
    background: #F8F8F8; 
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 15px #0000005e;
    cursor: pointer;
}

.centralizer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.no-record {
    min-height: 300px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    color: var(--lighter-gray);
    .icon {
      flex: 0 0 25px;
    }
 font-family: 'Roboto', sans-serif;
}

.button {
  padding: 5px 20px;
  min-width: 7rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s ease-in;
  font-size: 14px;
  &:hover {
    color: white !important;
    border-color: transparent !important;
    background: var(--light-gray);
  }
  &:focus {
    outline: none;
  }
}
h3.username {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}
.outline {
  color: var(--light-gray);
  border: 1.2px solid var(--light-gray);
  border-radius: 0;
  background-color: transparent;
  &.disabled {
    border: 1.2px solid var(--light-gray) !important;
    color: var(--light-gray) !important;
    &:hover {
      cursor: default;
      background: transparent;
    }

  }
}
a.outline:hover {
  text-decoration: none;
}
.hoverable {
  transition: all .2s ease-in-out;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
  }
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.profile-image {
  border: 1px solid var(--lighter-gray);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: url(https://res.cloudinary.com/drmmqcxkc/image/upload/v1541506955/user-placeholder.png);
  background-size: 100%;
  @media screen and (min-width: 500px) {
    height: 7rem;
    width: 7rem;    
  }
  font-family: 'Roboto', sans-serif;
}