.notification-panel {
  .notification-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 12px 10px;
  }
  .notification-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: #57b182;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #57b182;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .slider-title {
    margin: 1px;
    font-size: 14px;
  }
}
.notifications {
  .notification-wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .notification-result {
      display: flex;
      border: 1px solid var(--gray);
      margin: 20px auto;
      width: 50%;
      justify-content: space-between;
      border-radius: 5px;
      a {
        color: var(--gray);
        font-weight: 200;
        padding: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      span:nth-child(2){
        color: black;
        margin: 5px 10px 0 0;
        padding-top: 10px;
        cursor: pointer;
      }
    }
  }
  h1 {
    margin: 30px auto;
  }
}
.notificationMessage{
  color: var(--gray) !important;
  text-align: left
}
.notifierName{
  font-weight: bold;
  font-size: 110%;
}

.notification-settings-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0;
  .notification-settings-header{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .notification-settings{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 40vw;
    padding: 20px;
    .notification-settings-email, .notification-settings-inApp {
      display: flex;
      justify-content: space-between;
      width: 95%;
      p {
        margin: 12px;
      }
    }
  }
}