.profile-image-uploader {
  background: linear-gradient(rgba(gray, .4), rgba(gray, .4)), url(../assets/user.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    width: 24px;
    height: 24px;
    padding: 35px;
    box-sizing: content-box;
    cursor: pointer;
  }
}
