.profile-article {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 33px 0;
  display: grid;
  grid-template-areas: "user-img title title"
                       "username date read-time"
                       "article-img article-img article-img"
                       "description description description"
                       "footer footer footer";
  grid-template-columns: 10rem 2fr 1fr;
  grid-gap: .5rem;
  font-size: 11px;
  padding: 15px 90px;
  align-items: center;
  cursor: pointer;
  .username {
    grid-area: username;
  }
  h3 {
    grid-area: title;
    font-weight: bold;
    font-size: 18px;
    justify-self: right;
  }
  .user-img {
    grid-area: user-img;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .article-img {
    grid-area: article-img;
  }
  .description {
    grid-area: description;
    margin: 10px 0;
  }
  .date {
    grid-area: date;
    justify-self: right;
  }
  .read-time {
    grid-area: read-time;
    justify-self: right;
  }
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 10px;
    }
    .icon {
      width: 10px;
      height: 10px;
    }
    .comments {
      margin-left: auto;
    }
    .edit {
      cursor: pointer;
    }
  }
}