.profile-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1.2px solid #a6a2a2;
  padding: .5rem 0;

  .profile-image {
    margin-bottom: 15px;
  }
  .username {
    text-align: center;
    flex-basis: 100%;
  }
}

.profile-title {
  padding: 40px 0;
  text-align: center;
}