.reset-form {
  .reset-title{
    margin-bottom: 30px;
    text-align: center;
    margin-right: 100px;
  }
  .loading{
    background-color: rgba(37, 180, 126, 0.43) !important;
    border: none !important;
    height: 100%;
  }
}
