 body{
    background-color: #f8f8f8;
    margin: 0;
}

.signupForm{
    width: 49%;
    padding-left: 8%;
    padding-top: 153px;
    background-color: #f8f8f8;
}

.signupForm .signupField{
    background-color: #f8f8f8;
    border:0px;
    border-bottom: 3px solid #000;
    width: 84%;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    margin-bottom: 10px;
    outline: none;
}

.signupForm .signupButton{
    font-family: Antic;
    background-color: #25b47e;
    color: #fff;
    border:0px;
    border-radius: 5px;
    width: 84%;
    height: 50px;
    font-size: 18px;
    font-style: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    outline: none;
}

.signupForm .signupButton:hover{
    background-color: #fff;
    color: #25b47e;
    border-radius: 5px;
}

.signupForm .signup-buttons{
    display: flex;
    margin-bottom: 30px;
}

.signupForm .signup-buttons .both-links{
    width: 42%;
}

.signupForm .signup-buttons .buttons{
    font-family: Antic;
    border:0px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-style: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 1px #bfbfbf;
    outline: none;
}

.signupForm .signup-buttons .sign-in, .signup-buttons .sign-up {
    background-color: #fff;
    color: #25b47e;;
}

.signupForm .signup-buttons .active {
    background-color: #25b47e;
    color: #fff;
}

 .signupForm .errorField{
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
}

.signupForm .change-password {
    text-align: right;
    width: 84%;
    color: #a6a2a2;
    font-family: Anaheim;
}

 .signupForm .or{
    text-align: center;
    width: 80%;
    margin-top: 25px;
    color: #a6a2a2;
    font-family: Rajdhani;
}

.signupForm .social-icons{
     display: flex;
     width: 54%;
     margin-left: 15%; 
}

.signupForm .social-icons .social-link{
    margin: auto; 
    margin-top: 50px;
}

.signupForm .social-icons .social-link div{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.signupForm .social-icons .facebook{
    background-color: #3b5998;
}

.signupForm .social-icons .google{
    background-color: #dd4b39;
}

.signupForm .social-icons .twitter{
    background-color: #1da1f2;
}

.signupForm .social-icons .facebook:hover,
.signupForm .social-icons .google:hover,
.signupForm .social-icons .twitter:hover{
    opacity: 0.9;
}

.signupForm .social-icons .facebook img{
    width: 12px;
    height: 20px;
    margin-top: 20px;
    margin-left: 24px;    
}

.signupForm .social-icons .google img,
.signupForm .social-icons .twitter img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 20px;  
}

@media screen and (max-width:800px){  
    .signupForm{
        width: 100%;
        padding-left: 10%;
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width:400px){  
    .signupForm{
        width: 100%;
        padding-left: 5%;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .signupForm .signupField{
        width: 90%;
        height: 30px;
        font-size: 14px;
    }

    .signupForm .signupButton{
        width: 90%;
        height: 40px;
        font-size: 15px;
        margin-top: 20px;
    }

    .signupForm .signup-buttons .both-links{
        width: 45%;
    }

    .signupForm .signup-buttons .buttons{
        height: 45px;
        font-size: 15px;
        margin-top: 20px;
    }

    .signupForm .or{
        margin-top: 15px;
    }

    .signupForm .social-icons{
        width: 80%;
        margin-top: -20px;
        margin-left: 5%; 
   }

   .signupForm .social-icons .social-link div{
    width: 50px;
    height: 50px;
}

.signupForm .social-icons .facebook img{
    width: 8px;
    height: 17px;
    margin-top: 17px;
    margin-left: 20px;    
}

.signupForm .social-icons .google img,
.signupForm .social-icons .twitter img{
    width: 17px;
    height: 18px;
    margin-top: 16px;
    margin-left: 16px;  
}

}




