.single-page .side-button{
    padding-top: 25px;
    width: 60px;
    background-color: #fff;
    margin-top: -150px;
    border-radius: 50px;
    margin-left: 2%;
    float: right;
}


.single-page .side-button .star{
    width: 35px;
    margin-left: 11px;
    cursor: pointer;
} 

.single-page .side-button .bookmark{
    margin-top: 20px;
    width: 35px;
    margin-left: 12px;
    cursor: pointer;
} 

.single-page .side-button .share{
    margin-top: 20px;
    width: 35px;
    margin-left: 12px;
    cursor: pointer;
} 

.single-page .side-button .dot-dot{
    margin-top: 15px;
    width: 35px;
    margin-left: 12px;
    cursor: pointer;
} 

.single-page .side-button .like-count{
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding-left: 4px;
    margin-top: 45px;
    margin-left: 33px;
    position: relative;
} 

.single-page .side-button .love{
    margin-left: -5px;
    margin-top: -14px;
    max-width: 70px;
    cursor: pointer;
} 

.single-page{
    width: 80%;
}

.single-page .article-header{
    display: flex;
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 90px;
}

.single-page .article-header .author-icon{
    display: flex;
    flex-direction: column;
}

.single-page .article-header .number{
    font-family: Roboto;
    font-size: 37px;
    font-weight: normal;
    width: 45px;
    padding-top: 13px;
    margin-left: 12px;
}

.single-page .article-header .minutes{
    margin-top: -7px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    text-align: center;  
}

.single-page .article-container{
    width: 93%;
    margin-left: 21%;
    margin-bottom: 80px;
}

.single-page .article-container .article-image{
    width: 80%;
    margin-bottom: 80px;
}

.single-page .article-header .title-author{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}

.single-page .article-header .title-author .author-name{
    display: flex;
    margin-top: 20px;
}

.single-page .article-header .title-author .name{
    font-family: Roboto;
    font-size: 22px;
    color: #a6a2a2;
    margin-right: 5%;
    text-transform: capitalize;
}

.single-page .article-header .title-author .author-name button{
    width: 77px;
    height: 25px;
    font-size: 13px;
    font-family: Roboto;
    color: #b3c7bd;
    border: 1px solid #b3c7bd;
    background-color: #f8f8f8;
    outline: none;
    margin-top: 5px;
    cursor: pointer;
}

.single-page .article-header .title-author .author-name button:hover{
    color: #fff;
    background-color: #b3c7bd;
}

.single-page .article-header .article-title{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 31px;
    font-weight: bold;
    color: #564e58;
    padding-top: 0;
}

.single-page .author-image{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #000;
    border: 0px;
    margin-top: 10px;
    cursor: pointer;
}

.single-page .article-content{
    width: 80%;
    font-family: Roboto;
    font-size: 21px;
    color: #a6a2a2;
}

.article-line{
    width: 92%;
    margin-left: 4%;
}

.comments{
    width: 70%;
    margin-left: 17%;
    margin-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.add-comment{
    margin-bottom: 70px;
}

.comments .add-comment img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5%;
    cursor: pointer;
}

.comments .add-comment input{
    width: 75%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid  #a6a2a2;
    background-color: #fff;
    font-family: Roboto;
    font-size: 16px;
    padding-left: 30px;
    color: #a6a2a2;
    outline: none;
}

.comment-heading, .reply-heading{
    display: flex;
}

.comments .each-comment .comment-heading img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.each-reply{
    width: 70%;
    margin-left: 10%;
    margin-top: 50px;
}

.comments .each-reply .reply-heading img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.comment-name, .reply-name{    
    font-family: Roboto;
    font-size: 18px;
    margin-left: 4%;
    text-transform: capitalize;
}

.comment-body{
    margin-left: 8.5%;
    width: 78%;
    font-family: Roboto;
    font-size: 16px;
    color: #a6a2a2;
}

.reply-body{
    margin-left: 10%;
    width: 90%;
    font-family: Roboto;
    font-size: 16px;
    color: #a6a2a2;
}

.time-chat{
    display: flex;
    width: 20%;
    margin-left: 40%;
}

.time-chat div{
    display: flex;
    margin-left: 27%;
}

.time-chat div .comment-number{
    max-width: 30px;
    max-height: 25px;
}

.time-chat div .read-time{
    max-width: 30px;
    max-height: 25px;
}

.time-chat div p{
    font-family: Roboto;
    font-size: 18px;
    color: #a6a2a2;
    margin-left: 15%;
}


.single-page .time-chat div .comment-image{
    width: 500px;
    height: 500px;
    border-radius: 50px;
}




@media screen and (max-width:800px){
    .single-page{
        width: 90%;
    }

    .single-page .article-header{
        width: 100%;
        margin-left: 5%;
    }

    .single-page .article-container .article-image{
        width: 98%;
        margin-left: -11%;
        margin-bottom: 80px;
    }

    .single-page .side-button{
        padding-top: 25px;
        width: 80px;
        margin-top: -80px;
        background-color: #fff;
        border-radius: 50px;
        margin-right: -30px;
    }



    .single-page .side-button .star{
        width: 52px;
    } 
    
    .single-page .side-button .bookmark{
        margin-top: 40px;
        width: 52px;
    } 
    
    .single-page .side-button .share{
        margin-top: 40px;
        width: 52px;
    } 
    
    .single-page .side-button .dot-dot{
        margin-top: 40px;
        width: 52px;
        margin-left: 12px;
    } 
    
    .single-page .side-button .like-count{
        width: 22px;
        height: 22px;
        border-radius: 6px;
        background-color: red;
        color: #fff;
        font-size: 14px;
        padding-left: 6px;
        margin-left: 38px;
    } 
    
    .single-page .side-button .love{
        margin-left: -7px;
        margin-top: -18px;
        max-width: 92px;
    } 
    
    .single-page{
        width: 80%;
    }
    
    .single-page .article-content{
        width: 100%;
        margin-left: -12%;
        font-family: Roboto;
        font-size: 21px;
        color: #a6a2a2;
    }

    .comments{
        width: 90%;
        margin-left: 8%;
    }

    .time-chat{
        width: 20%;
        margin-left: 25%;
    }
    
    .comment-body{
        margin-left: 9.5%;
    }
    
    .reply-body{
        margin-left: 12%;
    }
    
}


@media screen and (max-width:600px){
    .single-page .article-header{
        width: 96%;
        margin-left: 5%;
    }

    .single-page .article-header .article-title{
        font-size: 25px;
    }

    .single-page .author-image{
        margin-top: 8px;
        margin-left: 10px;
    }

    .single-page .article-header .number{
        font-size: 30px;
        margin-left: 25px;
    }
    
    .single-page .article-header .minutes{
        font-size: 14px;
    }

    .single-page .side-button{
        padding-top: 25px;
        margin-top: -100px;
        border-radius: 50px;
        margin-right: -35px;
    }
    

}



@media screen and (max-width:400px){
    .single-page .article-header{
        margin-top: 70px;
    }
    


    .single-page .article-header{
        width: 96%;
        margin-left: 5%;
        margin-bottom: 30px;
    }

    .single-page .article-header .article-title{
        font-size: 16px;
        width: 120%;
    }

    .single-page .author-image{
        margin-top: 7px;
        width: 35px;
        height: 35px;
    }

    .single-page .article-header .number{
        font-size: 25px;
        margin-left: 20px;
    }
    
    .single-page .article-header .title-author .name{
        font-size: 15px;
        margin-right: 5%;
    }

    .single-page .article-header .title-author .author-name button{
        width: 60px;
        height: 20px;
        font-size: 12px;
        margin-top: 3px;
        margin-left: 5%;
    }


    .single-page .side-button{
        width: 45px;
        padding-top: 20px;
        margin-top: -70px;
        border-radius: 50px;
        margin-right: -55px;
    }

    .single-page .article-container .article-image{
        width: 150%;
        margin-bottom: 80px;
    }

    .single-page .side-button .star{
        width: 32px;
        margin-left: 6px;
    } 
    
    .single-page .side-button .bookmark{
        margin-top: 20px;
        margin-left: 6px;
        width: 32px;
    } 
    
    .single-page .side-button .share{
        margin-top: 20px;
        margin-left: 6px;
        width: 32px;
    } 
    
    .single-page .side-button .dot-dot{
        margin-top: 20px;
        width: 32px;
        margin-left: 6px;
    } 

    .single-page .side-button .like-count{
        width: 22px;
        height: 22px;
        border-radius: 6px;
        font-size: 14px;
        padding-left: 6px;
        margin-left: 38px;
        margin-top: 10px;
    } 
    
    .single-page .side-button .love{
        margin-left: -5px;
        margin-top: 0px;
        max-width: 55px;
    } 


    .single-page .article-content{
        width: 120%;
        margin-left: -12%;
        font-family: Roboto;
        font-size: 16px;
        color: #a6a2a2;
    }
    
    

}