.tags{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  .tags-close-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .tags-close{
      align-self: flex-end;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .tags-main{
    padding: 20px;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-radius: 5px;
    .tags-main-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
    .tags-wrapper,{
      display: flex;
      width: 100%;
      justify-content: flex-start;
      flex-wrap: wrap;
        .new-tag{
        margin: 10px;
        border-radius: 5px;
        padding: 9px;
        background-color: $faintblue;
        display: flex;
        height: 5vh;
        .new-tag-cancel{
          margin-left: 10px;
          color: red;
          cursor: pointer;
        }
      }
    }
    form{
      width: 100%;
      input{
      background: transparent;
      border: none;
      border-bottom: 2px solid $maingreen;
      padding: 10px;
      width: 100%;
      margin-bottom: 30px;
      &:focus{
        outline: none;
      }
    }
    }
  }
  }
}

.tags-display{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  .new-tag{
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #a6a2a2;
    padding: 9px;
    color: #a6a2a2;
    // background-color: $faintblue;
    display: flex;
    height: 5vh;
  }
}
