@import 'components/reset.scss';
@import 'components/fonts.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'components/index.scss';
@import 'components/landingPage.scss';
@import 'components/header.scss';
@import 'components/articleCard.scss';
@import 'components/loading.scss';
@import 'components/footer.scss';
@import './components/auth.scss';
@import './components/auth-form.scss';
@import './components/author-writing.scss';
