@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './components/fonts.scss';
@import './components/auth.scss';
@import './components/auth-form.scss';
@import './components/author-writing.scss';
