@import 'components/reset.scss';
@import 'components/fonts.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'components/index.scss';
@import 'components/profileToolbar.scss';
@import 'components/followCard.scss';
@import 'components/inputBox.scss';
@import 'components/profileImageUploader.scss';
@import 'components/textBox.scss';
@import 'components/body.scss';
@import 'components/profileArticle.scss';
@import 'views/editProfile.scss';
@import 'views/profile.scss';
@import 'components/resetform.scss';
@import 'components/loading.scss';
@import './components/search.scss';
@import './components/fonts.scss';
@import 'components/landingPage.scss';
@import 'components/header.scss';
@import 'components/articleCard.scss';
@import 'components/footer.scss';
@import './components/auth.scss';
@import './components/auth-form.scss';
@import './components/author-writing.scss';
@import 'components/notification.scss';
@import './components/single-article.scss';
